In [2]:
## categorize iris flowers based on the length and width of petals and sepals

## import pandas and do exploratory data analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.data", header=None)

In [3]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','class']

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [7]:
df.isna().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool

# separate out the target

In [8]:
X = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = df['class']
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [10]:
# encode the labels into numerical features

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_numeric = encoder.fit_transform(y)
y_numeric
encoder.classes_

In [200]:
# split the data into training and testing ; test size data is 0.2

In [201]:
# Import module to split dataset
from sklearn.model_selection import train_test_split
# Split data set into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y_numeric, test_size=0.2)

In [202]:
print(X_train[0:3])

     sepal_length  sepal_width  petal_length  petal_width
133           6.3          2.8           5.1          1.5
8             4.4          2.9           1.4          0.2
33            5.5          4.2           1.4          0.2

In [203]:
print(X_test[0:3])

     sepal_length  sepal_width  petal_length  petal_width
48            5.3          3.7           1.5          0.2
112           6.8          3.0           5.5          2.1
100           6.3          3.3           6.0          2.5

In [204]:
print(y_train[0:3])

[2 0 0]

In [167]:
print(y_test[0:3])

[2 0 1]

# 1 - Use logistic regression to train the model

In [168]:
# Import module for fitting
from sklearn.linear_model import LogisticRegression
# Create instance (i.e. object) of LogisticRegression
logmodel = LogisticRegression()
# Fit the model using the training data
# X_train -> parameter supplies the data features
# y_train -> parameter supplies the target labels
logmodel.fit(X_train, y_train)

/Users/jyotigupta/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/jyotigupta/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

# 1- make predictions using the logistic regression model

In [169]:
#Predicting the target for test data
predictions = logmodel.predict(X_test)

In [170]:
print(X_test[0:3])

     sepal_length  sepal_width  petal_length  petal_width
107           7.3          2.9           6.3          1.8
9             4.9          3.1           1.5          0.1
98            5.1          2.5           3.0          1.1

In [171]:
print(predictions[0:3])

[2 0 1]

In [172]:
print(y_test[0:3])

[2 0 1]

# 1 - evaluate the model

In [173]:
# use accuracy score as metric

In [174]:
from sklearn.metrics import accuracy_score

In [175]:
accuracy_score(y_test, predictions)

0.9666666666666667